/*

This file isolates the color elements of a theme
It leverages CSS3 custom variables
We accept that IE below Edge (11 and down) will not work

--article-accent and --articlelist-accent: These colors are the 
  background to the main article and article list respectively.

--heroimg-accent and --nav-accent: the hero image and navigration 
  pane backgrounds respecvitvely. 

--article-opposite-accent: this color is applied to text elments 
  and button outlines on areas covering the main article 
  (--article-accent and --artciclelist-accent).

--heronav-opposite-accent: this color is applied to text elments 
  and button outlines on areas covering the right nagivation 
  panel (--nav-accent) as well as the hero image area 
  (--heroimg-accent).

--text-accent: Special text items

*/

:root {
	--article-accent: 246,246,246;
	--articlelist-accent: 238,238,238;
	--heroimg-accent: 169, 169, 169;
	--nav-accent: 49,49,49;
	--article-opposite-accent: 49,49,49;
	--heronav-opposite-accent: 246,246,246;
	--text-accent: 153, 0, 51;
}


a:not(.button) {
	color: rgb(var(--nav-accent));
	border-bottom: 1px solid rgba(var(--nav-accent),0.2)
}
a:hover:not(.button), 
a:focus:not(.button) {
	border-color: rgba(var(--nav-accent),0.2);
	background-color: rgba(var(--nav-accent),0.1);
}
.background--dark a:hover, 
.background--dark a:focus {
	border-color: rgba(0,0,0,0);
	background-color: rgba(var(--heronav-opposite-accent),0.2);
}
ol li::before {
    background-color: rgb(var(--article-accent));
    border: 1px solid rgba(var(--heroimg-accent),0.2);
}	

/* background-check.js */
.background--light {
  color: rgb(var(--article-opposite-accent));
}
.background--dark {
  color: rgb(var(--heronav-opposite-accent));
}
.main-container {
	background-color: rgb(var(--article-accent));
	/* no one sees this color */
}

#article_list {
    background-color: rgb(var(--articlelist-accent));
}

#blog-list .thumbnail {
	background-color: rgb(var(--heroimg-accent));
}
#blog-list .list-item-text {
	background-color: rgb(var(--article-accent));	
}
#blog-list .list-item-text .title,
#blog-list .excerpt {
	color: rgb(var(--article-opposite-accent));
}
#blog-list .list-item-meta {
    color: rgba(var(--article-opposite-accent),0.6);
}

#infinite-handle span {
	background: rgb(var(--nav-accent));
}
article > header {
	background-color: rgb(var(--heroimg-accent));
}
#article_body {
	background-color: rgb(var(--article-accent));
}
#article_body img.alignnone {
	background: rgb(var(--heroimg-accent));
}
#article_body > section > p:first-child:first-letter { 
	color: rgb(var(--text-accent)); 
}
footer.entry-footer {
    background: rgb(var(--article-accent));
}
form.search-form input.search-field {
	border: 1px solid rgb(var(--heronav-opposite-accent));
	color: rgb(var(--heronav-opposite-accent));
}
blockquote {
    background: rgba(var(--heroimg-accent),0.2);
    border-left: 10px solid rgba(var(--heroimg-accent),0.6);
}
	blockquote:before {
    color: rgba(var(--heroimg-accent),0.6);
}
nav a.right-menu,
nav a.right-menu:hover,
nav a.right-menu:focus  {
	background-color: inherit;
	color: rgb(var(--heronav-opposite-accent));
}
nav a.right-menu:hover,
nav a.right-menu:focus {
	color: rgba(var(--heronav-opposite-accent),0.8);
}
a.right-menu {
	color: rgb(var(--article-opposite-accent));
}
a.left-menu {
    background: rgba(var(--heronav-opposite-accent),0.5);
    color: rgb(var(--article-opposite-accent));
	border: rgb(var(--heronav-opposite-accent)) 1px solid;
	font-weight: 700;
}
a.left-menu:hover {
    background-color: rgba(var(--heronav-opposite-accent),0.2);
    box-shadow: inset 0 0 10px rgba(var(--heronav-opposite-accent),0.1);	
}
@media all and (max-width: 1023px) {
	#article_body a.right-menu {
		color: rgb(var(--heronav-opposite-accent));
		background: rgba(var(--heronav-opposite-accent),0.1);
	}
	#article_body a.right-menu:hover {
	    background-color: rgba(var(--heronav-opposite-accent),0.2);
	    box-shadow: inset 0 0 10px rgba(var(--heronav-opposite-accent),0.1);	
	}
}
#navigation_main {
	background-color: rgb(var(--article-opposite-accent));
	color: rgb(var(--heronav-opposite-accent));	
}
ul.sub-menu {
	background-color: rgba(var(--heroimg-accent),0.1);
}
div.primary-menu-container a:hover, 
div.primary-menu-container .current-menu-item > a,
div.primary-menu-container ul li:hover > a {
	background-color: rgba(var(--heroimg-accent),0.4);
}

article.error-404 header.page-header,
article.no-content header.page-header {
    background-color: rgb(var(--heronav-opposite-accent));
    filter: brightness(90%);
}
h2.comments-title {
    background: rgb(var(--heronav-opposite-accent));
}
ol.comment-list li.comment {
}
ol.comment-list li.comment div.vcard img.avatar {
	border: 5px solid rgba(var(--article-opposite-accent),0.25);
}
ol.comment-list li.comment ol.children li.depth-2,
ol.comment-list li.comment ol.children li.depth-3,
ol.comment-list li.comment ol.children li.depth-4,
ol.comment-list li.parent {
	border-left: 1px dotted rgba(var(--article-opposite-accent),1);
}
ol.comment-list li.even {
	background: rgb(var(--lightest));
}
ol.comment-list li.odd {
	background: rgba(var(--heroimg-accent),0.05);
}	
#brand-wrapper {
	background: rgba(255,255,255,1);
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(255, 255, 255, 0.8);	
}
.screen-reader-text:focus {
	background-color: #rgb(var(--lightest));
	box-shadow: 0 0 2px 2px rgba(var(--article-opposite-accent),0.6);
	color: rgb(var(--heroimg-accent));
}

.background--dark a {
	color: white;
}
.background--light a {
	color: black;
}

.background--dark button, 
.background--dark input, 
.background--dark optgroup,
.background--dark select,
.background--dark textarea {
	color: black	;
}